<template>
  <section id="board">
    <div class="cell" v-for="cell in cells" :key="cells.indexOf(cell)">
      <div
        v-for="concept in cell"
        :key="cell.indexOf(concept)"
        :class="concept"
      ></div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["cells"]
};
</script>

<style>
section {
  background-image: url("~@/assets/ground.jpg");
  background-size: 64px;
  width: 480px;
  height: 480px;
  display: grid;
  grid-template-rows: repeat(10, 48px);
  grid-template-columns: repeat(10, 48px);
  border: #99afd0 thin solid;
  margin-left: auto;
  margin-right: auto;
}

section div {
  width: 48px;
  height: 48px;
}

section > div {
  border: #99afd0 thin solid;
}

.cell div {
  position: absolute;
}

.BigSnowball {
  background-image: url("~@/assets/snowball.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: bottom center;
}

.MediumSnowball {
  background-image: url("~@/assets/corps.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top 47% left 49%;
}

.SmallSnowball {
  background-image: url("~@/assets/tete.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: top 15% center;
}

.CellPlayer {
  background-image: url("~@/assets/lutin.gif");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
