<template>
  <h1 v-if="nSnowman === 1">A good snowman is hard to build</h1>
  <h1 v-else>{{ nSnowman }} good snowmans are hard to build</h1>
  <Board :cells="cells" />
  <p>
    Utiliser les touches flêchées du clavier pour déplacer le personnage et
    pousser les boules de neiges pour former le bonhomme de neige.
  </p>
</template>

<script>
import Board from "@/components/Board";
import { getBoard, makeMove, initDatabase, isFinish } from "@/database";

export default {
  components: {
    Board
  },
  data() {
    initDatabase().then(() => {
      this.update();
    });
    return {
      cells: [],
      player: {},
      nSnowman: 1
    };
  },
  methods: {
    update() {
      const cells = [];
      for (let x = 0; x < 10; x++)
        for (let y = 0; y < 10; y++) {
          cells.push([]);
        }
      getBoard().then(({ body }) => {
        body.results.bindings.forEach(result => {
          let x = result.x.value;
          let y = result.y.value;
          let concept = result.concept.value.split("#")[1];
          cells[parseInt(`${x}${y}`)].push(concept);
        });
        this.cells = cells;
        isFinish().then(({ body }) => {
          if (
            body.results.bindings[0].nSnowman.value ===
            body.results.bindings[0].nSmall.value
          ) {
            this.nSnowman += 1;
            initDatabase(this.nSnowman).then(() => {
              this.update();
            });
          }
        });
      });
    },
    moveTo(dir) {
      makeMove(dir).then(() => {
        this.update();
      });
    }
  },
  created() {
    window.addEventListener(
      "keydown",
      event => {
        if (event.defaultPrevented) {
          return; // Should do nothing if the default action has been cancelled
        }

        let handled = false;
        if (event.key !== undefined) {
          if (event.key === "ArrowUp") this.moveTo("North");
          else if (event.key === "ArrowDown") this.moveTo("South");
          else if (event.key === "ArrowRight") this.moveTo("East");
          else if (event.key === "ArrowLeft") this.moveTo("West");
        }

        if (handled) {
          // Suppress "double action" if event handled
          event.preventDefault();
        }
      },
      true
    );
  }
};
</script>

<style scoped>
h1 {
  text-align: center;
  margin-bottom: 1em;
}

p {
  text-align: center;
  max-width: 40%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
</style>
